<div class='row animated fadeIn'>

  <div class='col-4'>
    <div class='card'>
      <div class='card-body'>
        <h4 class='card-title'>Usuarios</h4>

        <table class='table table-hover' *ngIf='usuarios.length!=0'>
          <thead>
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Foto</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor='let u of usuarios' [routerLink]="['/usuarios']" class='pointer'>
              <td><img [src]="u.img | imagen" class='img-50 img-fluid img-circle'></td>
              <td>{{ u.nombre }}</td>
              <td>
                <button class='btn btn-primary'><i class='fa fa-pencil'></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class='alert alert-info' *ngIf='usuarios.length==0'>
          No hay registros
        </div>


      </div>

    </div>
  </div>

  <div class='col-4'>
    <div class='card'>
      <div class='card-body'>
        <h4 class='card-title'>Medicos</h4>

        <table class='table table-hover' *ngIf='medicos.length!=0'>
          <thead>
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Foto</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor='let m of medicos' [routerLink]="['/medico', m._id]" class='pointer'>
              <td><img [src]="m.img | imagen:'medicos'" class='img-50 img-fluid img-circle'></td>
              <td>{{ m.nombre }}</td>
              <td>
                <button class='btn btn-primary'><i class='fa fa-pencil'></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class='alert alert-info' *ngIf='medicos.length==0'>
          No hay registros
        </div>



      </div>

    </div>
  </div>

  <div class='col-4'>
    <div class='card'>
      <div class='card-body'>
        <h4 class='card-title'>Hospitales</h4>

        <table class='table table-hover' *ngIf='hospitales.length!=0'>
          <thead>
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Foto</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor='let h of hospitales' [routerLink]="['/hospitales']" class='pointer'>
              <td><img [src]="h.img | imagen:'hospitales'" class='img-50 img-fluid img-circle'></td>
              <td>{{ h.nombre }}</td>
              <td>
                <button class='btn btn-primary'><i class='fa fa-pencil'></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class='alert alert-info' *ngIf='hospitales.length==0'>
          No hay registros
        </div>


      </div>

    </div>
  </div>

</div>