<div class='row animated fadeIn'>
	<div class='col-12'>
		<div class='card'>
			<div class='card-body'>
				
				<input #input (keyup)='buscarMedico(input.value)' type="text" name="" class='form-control' placeholder='Buscar usuario...'>

			</div>
		</div>
	</div>
</div>

<div class='row animated fadeIn' *ngIf='cargando'>
	<div class='col-12'>
		<div class='alert alert-warning text-center'>
			<strong>Cargando</strong>
			<br>
			<i class='fa fa-refresh fa-spin fa-2x'></i>
			<br>
			<span>Espere por favor</span>
		</div>
	</div>
</div>

<div class='row animated fadeIn' *ngIf='!cargando'>
	<div class='col-12'>
		<div class='card'>
			<div class='card-body'>

				<div class="text-right">
          <button [routerLink]="['/medico','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus"></i> 
            Crear Médico
          </button>
        </div>


				
				<h3 class='card-title'>Médicos registrados (<small>{{totalRegistros}}</small>)</h3>

				<table class='table table-hover'>
					<thead>
						<tr>
							<th>Imagen</th>
							<th>Médico</th>
							<th>Hospital</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor = 'let m of medicos'>
							<td class='w70'><img [src]="m.img | imagen:'medicos'" class='img-circle img-50 pointer' (click)='mostrarModal(m)'></td>
							<td>
								<input class='form-control' type="text" name="nombre" [(ngModel)]='m.nombre'>
							</td>
							<td>{{m.hospital.nombre}}</td>
							
							<td>
								<button class='btn btn-primary waves-effect waves-light' type='button' [routerLink]="['/medico',m._id]"><i class='fa fa-pencil'></i></button>
								<button class='btn btn-danger waves-effect waves-light' type='button' (click)='borrarMedico(m)'><i class='fa fa-trash-o'></i></button>
							</td>
						</tr>
					</tbody>
				</table>

				<button class='btn btn-secondary waves-effect waves-light' type='button' (click)='cambiarDesde(-5)'>Anteriores</button>
				<button class='btn btn-secondary waves-effect waves-light' type='button' (click)='cambiarDesde(5)'>Siguientes</button>

			</div>
		</div>
	</div>
</div>
